body{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background-color: #FFFCFF;
}
button{
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
}
#title{
    text-align: center;
    font-family: Roboto;
    font-weight: bold;
}
#calen_header{
    padding: 10px;
    color: #000000;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 550;
    display: flex;
    justify-content: space-between;
}
#calen_header button{
    background-color:#ffffff;
    color: black;
}
#calen_header button:hover{
    background-color: #e1e2e2;
}
#gen_container{
    width: 770px;
    font-family: Roboto;
}
#logout{
    color: black;
    background-color: #fff;
}
#weekdays{
    width: 100%;
    display: flex;
    color: black;
    text-align: center;
}
#weekdays div{
    width: 100px;
    padding: 10px;
}
#calendar{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.day{
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.day:hover{
    background-color: #e1e2e2;
}
.day + #current_day{
    background-color: #e1e2e2;
}
.event{
    font-size: 10px;
    padding: 3px;
    background-color: #58bae4;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
}
.padding{
    cursor: default !important;
    background-color: #FFFCFF !important;
    box-shadow: none !important;
}
#new_event, #delete_event{
    font-family: Roboto;
    display: none;
    z-index: 25;
    padding: 25px;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 250px;
    left: calc(50% - 175px);
    position: absolute;
}
#event_title{
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
}
#event_title.error{
    border: 2px solid rgb(255, 0, 0);
}
#cancel, #cancel_delete{
    background-color: #d36c6c;
}
#save, #confirm_delete{
    background-color: #3bc552;
}
#event_text{
    font-size: 20px;
}
#modal{
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
}